/* 全体のスタイル */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar-title{
  font-size: 24px;  /* フォントサイズを大きく */
  color: white;  /* 文字色を白に設定 */
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;  /* 余白をなくす */
  flex-grow: 1;  /* タイトルを中央に配置するために拡張 */
  text-align: center;  /* 中央揃え */
  margin-left: 100px;
}

/* フォーム入力エリア */
/* .book-form input {
  padding: 10px;
  margin: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* メニューバーのスタイル */
.navbar {
  background-color: #a3c0d2 ; /* 青色の背景 */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-icon {
  height: 80px;
  margin-top: 10px;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 250px;
}



/* エラーメッセージ */
.error {
  color: red;
  font-size: 14px;
}

/* 本の検索結果 */
.search-results {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
}

.search-results li:hover {
  background-color: #f0f0f0;
}


.search-results img {
  width: 40px;
  height: 60px;
  margin-right: 10px;
}

/* 登山者アイコンと進捗 */
.climber-image {
  width: 50px;
  left: 150px;
  bottom: -10px;
  position: absolute;
}

.mountain-container {
  position: relative;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-image: url('../public/images/fujisan.png'); /* 富士山の背景画像を設定 */
  background-size: cover;
  background-position: bottom;
}

.mountain {
  position: relative;
  width: 100%;
  height: 100%;
}

.climbing-space{
  position: absolute;
  width: 350px;
  height: 330px;
  margin-top: 3%;
  margin-left: 44%;
}

.climber {
  position: absolute;
}

/* 本のリスト */
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* カード間のスペースを調整 */
  width: 70%; /* 画面の70%の幅で表示 */
  margin: 0 auto; /* 中央に配置 */
  justify-content: flex-start; /* 左詰めで表示 */
}

/* 本のカード */
.book-card {
  position: relative;
  width: calc(18% - 20px); /* 元のサイズより約10%小さく調整 */
  height: auto;
  aspect-ratio: 2 / 3; /* 2:3 の比率を維持 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* カードの影 */
  border-radius: 8px; /* カードの角を丸く */
  overflow: hidden; /* カードのはみ出しを隠す */
  background-color: #fff;
}

/* 本の画像 */
.book-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 画像をカードに合わせて表示 */
}


/* 削除ボタン */
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
